

.mat-radio-group{
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.mat-radio-button{
    margin: 10px;
}

.mat-form-field{
    display: block;
    width: 240px;
    justify-content: center;
    justify-self: center;
    margin: 40px;
}


