.container{
    width: 100%;
    margin: 20px;
}

.image {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
}

.title{
    display:flex;
    margin-top: 20px;
    justify-content: space-between;
}

.description {
    margin: 20px 5px;
}
