
div{
    width: 100%;
}

form {
    margin: 30px;
    justify-content: center;
}

.mat-form-field {
    display: block;
    margin-bottom: 20px;
    width: 100%;
}

button {
    margin-right: 10px;
}